*{
    margin: 0;
    padding: 0;
    font-family: 'PT-Sans', sans-serif;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding: 10px;
}

.Imagen1{
    margin-left: 15px;
}
.menu{
    display: flex;
    height: 70px;
    padding: 3px;
    align-items: flex-end;
    justify-content:flex-end;
}

.menu a{
    text-decoration-line: none;
    text-decoration-color: black;
    color: black;
}

header button .Verproductos{
    padding: 1%;
    margin: 3% 2%;
    background: #C29A56;
    width: fit-content;
    border-radius:6px;
    font-size: larger;
    box-shadow: 8px 10px 10px black;
    border: solid black 1px;
}

.Boton button{
    margin: 1%;
    background-color: #C29A56;
    padding: 1% 2%;
    border-radius: 6px;
}

.Boton button:hover{
    background-color: orangered;
}

header button .Verproductosr{
    background-color: orangered;
}
li{
    list-style: none;
}

.Cordelería{
    background-color: burlywood;
    display: flex;
}
.Cord{
    align-items: center;
    text-align: center;
    margin-left: 250px;
}
.Imagen2{
    margin-left: 350px;
}
.card{
    display: flex;
    width: 100%;
    gap:50px;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 80px;
}
.card .cards{
    width: 320px;
    padding: 20px;
    box-shadow: 2px 2px 5px;
    border-radius: 20px;
    background-color: #D3B98D;
    border-color:blanchedalmond;
}

.Contacto{
    text-align: center;
    background-color:bisque;
    border-color: blanchedalmond;
    
}


.Contacto ul li label input .Nombre{
    background-color: #D3B98D;
    color: #D3B98D;
}

.Footer{
    display: flex;
    height: 70px;
    padding: 3px;
    align-items:center;
    margin-left: 100px;
}

.Footer2{
    display: flex;
    align-items:center;
    margin-left: 100px;
}

.Footer3{
    display: flex;
    align-items:center;
    margin-left: 100px;
}


input{
    background-color: burlywood;
    border-color: orange;
    border-radius: 3px;
    height: 30px;
    width: 230px;
}

textarea{
    border-radius: 3px;
    width: 650px;
    height: 100px;
    background-color: burlywood;
    border-color: orange;
}

input:hover{
    border-color: orangered;
}

textarea:hover{
    border-color: orangered;
}

body{
    margin:0;
    padding: 0;
}

html{
    margin:0;
    padding: 0;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin-top: 140px;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}