*{
    margin: 0;
    padding: 0;
    font-family: 'PT-Sans', sans-serif;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding: 10px;
}

.Imagen1{
    margin-top: 8px;
    margin-left: 15px;
}
.menu{
    display: flex;
    height: 70px;
    padding: 3px;
    align-items: flex-end;
    justify-content:flex-end;
}

.menu a{
    text-decoration-line: none;
    text-decoration-color: black;
    color: black;
}


button{
    background-color:orangered;
    color:black;
}
li{
    list-style: none;
}

.Cordelería{
    background-color: orange;
}
.card{
    display: flex;
    width: 100%;
    gap:50px;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 80px;
}
.card .cards{
    width: 320px;
    padding: 20px;
    box-shadow: 2px 2px 5px;
    border-radius: 20px;
    background-color: #D3B98D;
    border-color:blanchedalmond;
}

.Contacto{
    text-align: center;
    background-color:bisque;
}

.Contacto ul li label input .Nombre{
    background-color: #D3B98D;
    color: #D3B98D;
}

.Footer{
    display: flex;
    height: 70px;
    padding: 3px;
    align-items:center;
    margin-left: 140px;
}

.Footer2{
    display: flex;
    align-items:center;
    margin-left: 140px;
}

.Footer3{
    display: flex;
    align-items:center;
    margin-left: 140px;
}