*{
    margin: 0;
    padding: 0;
    font-family: 'PT-Sans', sans-serif;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding: 10px;
}

.Imagen1{
    margin-top: 8px;
    margin-left: 15px;
}
.menu{
    display: flex;
    height: 70px;
    padding: 3px;
    align-items: flex-end;
    justify-content:flex-end;
}

.menu a{
    text-decoration-line: none;
    text-decoration-color: black;
    color: black;
}


button{
    background-color:#ccae72;
    color:black;
    box-shadow: 2px 2px 5px;
    border-radius: 4px;
    height: 30px;
    width: 100px;
}
button:hover{
    background-color: orangered;
}
li{
    list-style: none;
}

.Cordelería{
    background-color: burlywood;
    display: flex;
}
.Cord{
    align-items: center;
    text-align: center;
    margin-left: 250px;
}
.Imagen2{
    margin-left: 350px;
}
.card{
    display: flex;
    width: 100%;
    gap:50px;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 80px;
}
.card .cards{
    width: 320px;
    padding: 20px;
    box-shadow: 2px 2px 5px;
    border-radius: 20px;
    background-color: #D3B98D;
    border-color:blanchedalmond;
}

.Contacto{
    text-align: center;
    background-color:bisque;
    border-color: blanchedalmond;
    
}


.Contacto ul li label input .Nombre{
    background-color: #D3B98D;
    color: #D3B98D;
}

.Footer{
    display: flex;
    height: 70px;
    padding: 3px;
    align-items:center;
    margin-left: 100px;
}

.Footer2{
    display: flex;
    align-items:center;
    margin-left: 100px;
}

.Footer3{
    display: flex;
    align-items:center;
    margin-left: 100px;
}


input{
    background-color: burlywood;
    border-color: orange;
    border-radius: 3px;
    height: 30px;
    width: 230px;
}

textarea{
    border-radius: 3px;
    width: 650px;
    height: 100px;
    background-color: burlywood;
    border-color: orange;
}

input:hover{
    border-color: orangered;
}

textarea:hover{
    border-color: orangered;
}

body{
    margin:0;
    padding: 0;
}

html{
    margin:0;
    padding: 0;
}
